{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'media/html-5.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Css/index.css' %}">
    <title>Document</title>
</head>
<body>
    
    <h1> Sistema de Orçamento de Pintura Automótiva </h1>
       <p>Cadastro</p>
       <div class="contform">
            <div class="ext">
                <h2> Cadastro de Peça </h2>
                <form action="{% url 'index' %}" method="POST" id="meuForm">
                        {% csrf_token %}
                        <label for="peca">Peça</label>
                        <input type="text" name="peca" id="peca" required>
                        <label for="preco">preço</label>
                        <input type="number" name="preco" id="preco" required>
                        <div class="bts">
                            <button type="submit"> enviar </button>
                            
                        </div>
                </form>
            </div>
            <div class="ext">
                <h2> Atualizar Peça </h2>
                <form action="{% url 'index' %}" method="POST" id="meuForm">
                        {% csrf_token %}
                        <label for="pecas">Peça</label>
                        <input type="text" name="peca" id= "pecas" required>
                        <label for="precos">preço</label>
                        <input type="text" name="preco" id="precos" required>
                        <div class="bts">
                            <button type="submit"> update </button>
                        </div>
                </form>
                <div class="bas">
                    <section>
                        {% for p in pecacarro%}
                        <option value="{{p.peca}}">{{p.peca}}</option>
                        {% endfor %}
                    </section>
                </div>
            </div>
            
       </div>
    


    <a href="contato"> pagina contato </a>

    
    <script>
        function atualizarFormulario() {
            fetch('index')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('meuFormulario').innerHTML = data.form_html;
                })
                .catch(error => console.error('Erro:', error));
        }
    </script>
    
   


</body>
</html>