{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'media/html-5.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Css/index.css' %}">
    <title>Document</title>
</head>
<body>
    
    <h1> Sistema de Orçamento de Pintura Automótiva </h1>

   
       <div class="contform">
           <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <label for="peca">Peça</label>
                <input type="text" name="peca" id="peca">
                <label for="preco">preço</label>
                <input type="text" name="preco" id="preco">
                <button type="submit"> enviar </button>
           </form>
       </div>
   
    

    <a href="contato"> pagina contato </a>

    


    <script src="{% static 'js/index.js'%}"></script>
</body>
</html>